# This is Git's per-user configuration file.
[user]
	name = Khongor Bayarsaikhan
	email = b.khongi@gmail.com

[merge]
	tool = vimdiff
[push]
	default = simple
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[core]
	pager = LESSCHARSET=utf-8 less -R
	longpaths = true
	editor = vim
	filemode = false
[alias]
	co = checkout
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	s = status -s
	rso = remote show origin
	rgo = remote get-url origin
	rpo = remote prune origin
	last = log -1 HEAD
	f = fetch
    fod = fetch origin development:development
    p = pull
	ca = commit -a
	c = commit
[color]
	ui = true
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false

[includeIf "gitdir:*/*[pP]ersonal/"]
	path = .gitconfig-personal
[includeIf "gitdir:*/*[eE][dD][uU]/"]
	path = .gitconfig-personal
[includeIf "gitdir:*/*[aA]ut[sS]oft/"]
	path = .gitconfig-autsoft
[includeIf "gitdir:*/*[dD][oO][dD]/"]
	path = .gitconfig-dod

